<template>
  <div>
    <form v-if="!loanDetails" @submit.prevent="submitForm" >
      <span>Person code</span><br>
      <input v-model="personCode"
             type="text"
             placeholder="Enter your person code"/>
      <br>
      <span>Loan amount</span><br>
      <input v-model="loanAmount"
             type="text"
             placeholder="Enter your desired loan amount"/>
      <br>
      <span>Loan period</span><br>
      <select v-model="loanPeriod">
        <option value="12">12</option>
        <option value="12">18</option>
        <option value="24">24</option>
        <option value="36">36</option>
        <option value="48">48</option>
        <option value="60">60</option>
      </select>
      <br>
<!--      <input v-model="loanPeriod"-->
<!--             type="text"-->
<!--             placeholder="Enter your loan period"/>-->
<!--      <br>-->
      <input class="submit"
             type="submit"
             value="Submit">
    </form>
    <div v-if="loanDetails">
      <h3>Form Submitted</h3>
      <div v-if="loanDetails.loanGranted === false">
        <p>Loan has been rejected</p>
      </div>
      <div v-if="loanDetails.loanGranted === true">
        <p>Loan granted! loan details:</p>
        <p>Person: {{ loanDetails.personCode }}</p>
        <p>Amount: {{ loanDetails.loanAmount }}</p>
        <p>Period: {{ loanDetails.loanPeriod }}</p>
      </div>
      <button @click="resetForm">Reset</button>
    </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      loanDetails: "",
      personCode: "",
      loanAmount: "",
      loanPeriod: "",
      formSubmitted: false
    };
  },
  methods: {
    submitForm: function () {
      axios.post("http://localhost:8080/loan", null, {
        params: {
          personCode: this.personCode,
          loanAmount: this.loanAmount,
          loanPeriod: this.loanPeriod
        }
      })
          .then((response) => {
            this.loanDetails = response.data;
          })
          .catch((error) => {
            console.log(error);
          });
    },
    resetForm: function() {
      this.personCode = "";
      this.loanAmount = "";
      this.loanPeriod = "";
      this.loanDetails = "";
    }
  },
};
</script>
<style>
form {
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

input {
  padding: 4px 8px;
  margin: 4px;
}

select {
  padding: 4px 8px;
  margin: 4px;
}

span {
  font-size: 18px;
  margin: 4px;
  font-weight: 500;
}

.submit {
  font-size: 15px;
  color: #fff;
  background: #222;
  padding: 6px 12px;
  border: none;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 5px;
}

</style>